@import "variable.less";

html,
body {
    height: 100%;
    //font: 16px @font-mac, @font-win, @font-linux, @font-common;
    background-color: @white;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

scrollbar {
    width: 0px;
}

.console {
    height: 100%;
    background-color: @white;
}

.sidebar-wrapper {
    height: 100%;
    .sidebar {
        height: 100%;
    }
}

.view-wrapper {
    height: 100%;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 99;
}

.post-wrapper {
    height: 100%;
}

.posts-list-wrapper {
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ececec;
    .posts-list {
        padding-top: 30px;
    }
}

.post-body-wrapper {
    height: 100%;
    overflow-y: auto;
    .post-body {
        width: 68%;
        margin: 0 auto;
        padding: 69px 20px;
    }
}