@import "variable.less";
.single-post {
    width: 86%;
    .title {
        height: 50px;
        margin-bottom: 18px;
        border-bottom: 1px dashed #e0e0e0;
    }
    .content {
        line-height: 1.7em;
        border-bottom: 1px solid #e0e0e0;
    }
}
.main-body{
    .post-pager {
        width: 86%;
        margin-top: 50px;
    }
}