@import "variable.less";
.main-body {
    border: 0;   
}

.single-post {
    padding: 15px;
    background-color: @white;
    //box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: 3px;
    .title {
        margin-bottom: 18px;
        border-bottom: 1px dashed #e0e0e0;
        p {
            font-size: 1.5em;
            display: inline-block;
        }
        .focus-mode {
            display: inline-block;
            border: 1px solid @blue;
            border-radius: 2px;
            padding: 1px 3px;
            font-size: 12px;
            vertical-align: text-bottom;
        }
        .focus-mode:hover {
            border-color: @dark-blue;
            background-color: @blue;
            color: @white;
        }
    }
    .content {
        padding: 15px 0;
        border-radius: 3px;
        font-size: 1.16em;
        line-height: 1.9;
        word-break: break-all;
        font-family: @font-mac, @font-win, @font-linux, @font-common;
        font-size: 14px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .assign {
        padding: 10px 0;
        border-bottom: 1px dashed #e0e0e0;
        text-indent: 1.7em;
    }
    .fun {
        padding: 5px;
    }
}
.main-body{
    .post-pager {
        width: 86%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .single-post {
        width: 100%;
        margin: 0;
        .title {
            .focus-mode {
                display: none;
            }
        }
    }
}