@import "variable.less";

.signup-panel {
    margin-top: 30px;
    form {
        width: 45%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .signup-panel {
        width: 96%;
    }
}
