@import "variable.less";

html,
body {
    background-color: #f4f7f8;
    .footer {
        position: absolute;
        bottom: 0;
        background-color: #f4f7f8;
    }
}

.msg-area {
    background-color: #fff;
}

.relative-msg {
    position: relative;
    top: 0;
}

.signup-body {
    position: relative;
    width: 300px;
    margin: 150px auto 0;
    .signup-welcome {
        font-size: 2.3em;
        font-weight: normal;
        text-align: center;
        color: @light-blue;
    }
    .signup-welcome-follow {
        text-align: center;
        font-size: 18px;
        color: #666;
    }
    .signup-main {
        //background-color: @white;
        form {
            width: 100%;
            margin: 15px auto 30px;
            .input-item {
                margin: 0 0 10px;
                .base-input {
                    width: 100%;
                }
            }
            .operation-tip {
                padding: 0 0 10px 35px;
            }
            .button-item {
                width: 100%;
                height: 30px;
                margin-top: 10px;
                button {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .signup-panel {
        width: 96%;
    }
}
