@import "variable.less";
html {
    position: relative;
    min-height: 100%;
}

body {
    font: 13px @font-mac, @font-win, @font-linux, @font-common;
    background-color: @white;
}

input.form-control,
textarea.form-control {
    outline: none;
}

.input-group-addon {
    font-size: 12px;
}

textarea.form-control {
    resize: none;
    border-color: #e1e1e1;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: @white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    .navbar {
        min-height: 49px;
    }
    .navbar-default {
        width: @header-width;
        max-height: 49px;
        margin: 0 auto;
        background-color: @white;
        .navbar-header a:hover {
            color: #000;
            opacity: 1;
        }
        .navbar-nav li a:hover {
            color: #000;
            opacity: 1;
        }
        .navbar-collapse.collapse {
            top: -2px;
            border-top: 0;
        }
        .navbar-toggle {
            padding: 10px 10px;
            border: 0;
            color: #000;
        }
        .sm-menu-bar {
            margin-top: 0;
            text-align: center;
            //background-color: rgba(3, 141, 152, 1);
            background-color: @white;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            box-shadow: 0 0 6px #e0e0e0;
            .nav.navbar-nav {
                a {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight: bold;
                    color: #000;
                }
            }
        }
    }
    .navbar-fixed-top {
        border: 0;
    }
    .navbar-header {
        a {
            color: #000;
        }
    }
    .nav.navbar-nav {
        a {
            color: #000;
            //opacity: .7;
            transition: opacity .2s;
          }
    }
    .nav-user-panel.navbar-nav {
        li {
            min-width: 100px;
            text-align: center;
        }
    }
    .user-panel {
        position: absolute;
        z-index: 9999;
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        background-color: @white;
        border-top: 0;
        top: 0;
        text-align: center;
        border-radius: 0 0 3px 3px;
        display: none;
        .user-panel-header {
            height: 50px;
            line-height: 50px;
            a {
                color: #333;
            }
        }
        .user-panel-body {
            border: 1px solid #e0e0e0;
            border-top: 0;
            .user-link-item {
                height: 36px;
                line-height: 36px;
                a {
                    text-decoration: none;
                    color: #333;
                }
            }
            .user-link-item:last-child {
                border-bottom: none;
            }
            .user-link-item:hover {
                background-color: @dark-gray;
                a {
                    color: @dark;
                }
            }
        }
    }
}

.wrapper {
    width: 100%;
    min-height: 500px;
    padding: 70px 0 30px;
    background-color: @background-color;
}

.main {
    width: @main-width;
    margin: 0 auto;
}

.main-body,
.main-side {
    min-height: 100px;
    border-radius: 3px;
}

.main-body {
    background-color: @white;
    border: 1px solid #E0E1E2;
}

.main-side {
    width: 236px;
    float: right;
}

.cates-area {
    min-height: 36px;
    margin: 0 -15px 15px;
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: @dark-gray;
    .cate-item {
        min-width: 30px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        display: inline-block;
        margin: 0 0 5px;
        padding: 0 6px;
        //border: 1px solid #e0e0e0;
        border-radius: 2px;
        //background-color: @white;
        //font-weight: bold;
        color: @dark;
        cursor: pointer;
    }
    .cate-item:hover {
        text-decoration: none;
        background-color: @blue;
        //border-color: @dark-blue;
        color: @white;
    }
    .cate-item.active {
        //border-color: @dark-blue;
        background-color: @blue;
        color: @white;
    }
    .cate-item.active:hover {
        background-color: @dark-blue;
        color: @white;
    }
}

.post-type {
    margin-bottom: 15px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.empty-post-notice {
    padding: 5px 10px;
    font-weight: bold;
}

.post {
    padding-bottom: 26px;
    .post-header {
        .title-link {
            display: inline-block;
            .title {
                font-size: 1.4em;
                font-weight: 500;
                color: #333;
            }
        }
        .info {
            padding: 0 0 5px 5px;
            .author {
                font-weight: bold;
            }
        }
    }
    .post-body {
        font-size: 1.1em;
        line-height: 1.7;
        //text-indent: 1.7em;
        color: #666;
        img {
            max-width: 650px;
        }
    }
}

.post:last-child {
    border-bottom: none;
}

.post-pagination {
    width: 136px;
    margin: 20px auto 30px;
}

.draft {
    .post-header {
        .title {
            color: #D0560A;
        }
    }
}

.side-links {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: @white;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    background-color: #fff;
    .info {
        padding-top: 10px;
    }
    .copy {
        padding-top: 10px;
    }
    .footer-links {
        
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .navbar-default {
            width: 100%;
        }
    }
    .main {
        width: 100%;
    }
}

.msg-area {
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
    display: none;
    top: 50px;
    border-radius: 0;
    .alert {
        border-radius: 0;
    }
}

.btn-main {
    color: #fff;
    background-color: @blue;
    border-color: #0D7179;
}

.btn-main:hover,
.btn-main:focus {
    color: #fff;
    background-color: #0D7179;
}

.btn-page {
    height: 45px;
    color: #fff;
    background-color: #33B7C1;
    border-color: #1396A0;
    border-radius: 0;
}

.btn-page:hover,
.btn-page:focus {
    color: #fff;
    background-color: #1396A0;
}

.btn-orange {
    color: #fff;
    background-color: #E06130;
    border-color: #BF491C;
}

.btn-orange:hover,
.btn-orange:focus {
    color: #fff;
    background-color: #BF491C;
}

.btn:focus {
    outline: none;
}

.label-beta {
    margin-left: 3px;
    border: 1px solid #0C6F77;
}

::selection {
    background-color: @blue;
    color: #fff;
}
