@import "variable.less";
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    padding: 78px 0 0;
    font: 13px @font-mac, @font-win, @font-linux, @font-common;
}

input.form-control,
textarea.form-control {
    outline: none;
}

textarea.form-control {
    resize: none;
    border-color: #e1e1e1;
}

.beta {
    /*padding-left: 3px;*/
    color: #fff;
    font-size: 0.55em;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: @blue;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    .navbar-default {
        width: 62%;
        max-height: 50px;
        margin: 0 auto;
        background-color: @blue;
        .navbar-header a:hover {
            color: #fff;
            opacity: 1;
        }
        .navbar-nav li a:hover {
            color: #fff;
            opacity: 1;
        }
    }
    .navbar-fixed-top {
        border: 0;
    }
    .navbar-header {
        a {
            color: #fff;
        }
    }
    .nav.navbar-nav {
        a {
            color: #fff;
            opacity: .7;
            transition: opacity .2s;
          }
    }
    .nav-user-panel.navbar-nav {
        li {
            min-width: 100px;
            text-align: center;
        }
    }
    .user-panel {
        position: absolute;
        z-index: 101;
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        background-color: #13838c;
        top: 0;
        text-align: center;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 1px 3px #0b808a;
        display: none;
        .user-panel-header {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #067A86;
        }
        .user-panel-body {
            .user-link-item {
                height: 36px;
                line-height: 36px;
                border-bottom: 1px solid #067A86;
            }
            .user-link-item:last-child {
                border-bottom: none;
            }
            .user-link-item:hover {
                background-color: #289EAB;
            }
        }
    }
}

.main {
    width: 60%;
    margin: 0 auto;
}

.main-body,
.main-side {
    min-height: 100px;
    background-color: @white;
}

.post {
    //width: 86%;
    padding-bottom: 26px;
    .post-header {
        .title {
            color: #000;
            display: inline-block;
        }
        .info {
            height: 20px;
            padding-left: 5px;
            .author {
                font-weight: bold;
            }
        }
    }
    .post-body {
        line-height: 1.7;
        text-indent: 1.7em;
        color: #666;
        img {
            max-width: 650px;
        }
    }
}

.post-pagination {
    width: 136px;
    margin: 20px auto 30px;
}

.draft {
    .post-header {
        .title {
            color: orange;
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    background-color: #f8f8f8;
    .info {
        color: #000;
        padding-top: 10px;
    }
    .copy {
        display: inline-block;
        color: #000;
        padding-top: 10px;
    }
    .footer-links {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .navbar-default {
            width: 100%;
        }
    }
    .main {
        width: 100%;
    }
}

.msg-area {
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    display: none;
    .alert {
        border-radius: 0;
    }
}

.btn-main {
    color: #fff;
    background-color: @blue;
    border-color: #0D7179;
}

.btn-main:hover {
    color: #fff;
    background-color: #0D7179;
}

.btn-page {
    height: 45px;
    color: #fff;
    background-color: #33B7C1;
    border-color: #1396A0;
    border-radius: 0;
}

.btn-page:hover {
    color: #fff;
    background-color: #1396A0;
}

.btn-orange {
    color: #fff;
    background-color: #E06130;
    border-color: #BF491C;
}

.btn-orange:hover {
    color: #fff;
    background-color: #BF491C;
}

.label-beta {
    margin-left: 3px;
    border: 1px solid #0C6F77;
}

::selection {
    background-color: @blue;
    color: #fff;
}
