@font-mac: "Helvetica Neue";
@font-win: "Microsoft YaHei";
@font-linux: "WenQuanYi Micro Hei";
@font-common: Tahoma, Helvetica, Arial, sans-serif;
@dark: #000;
@white: #fff;
@gray: #f4f7f8;
@dark-gray: #e3e9e9;
@blue: #4594af;
@dark-blue: #1d7f9e;
@white-blue: #289ec3;
@red: #cc3366;
@green: #30b9a0;
@dark-green: #1a7d6b;
@white-green: #2ec1a6;
@header-background: #33394A;

@background-color: #f4f7f8;
@front-color: #fff;
@hover-color: #ff0066;
@border-color: #ddd;

@main-width: 986px;
@header-width: 1069px;
