.editor-main {
  width: 96%;
  margin: 0 auto;
}
.edit-panel {
  position: relative;
}
.edit-panel .row {
  margin-bottom: 15px;
}
.edit-panel .nav-tabs {
  border-color: #ccc;
}
.edit-panel .nav-tabs > li.active > a {
  border-color: #ccc;
  border-bottom-color: transparent;
}
.edit-panel .editor-area {
  position: relative;
}
.edit-panel .editor-area .editor-header {
  height: 30px;
  display: none;
}
.edit-panel .editor-area .editor-body {
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
}
.edit-panel .editor-area textarea.form-control {
  padding: 20px 15px 30px;
  color: #000;
  border: 0;
  box-shadow: none;
}
.edit-panel .editor-area textarea:focus,
.edit-panel .editor-area textarea.form-control:focus {
  box-shadow: none;
}
.edit-panel .editor-preview {
  position: relative;
}
.edit-panel .editor-preview .preview-body {
  min-height: 600px;
  padding: 20px 15px 30px;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  font-size: 14px;
  background-color: #ffffff;
  word-break: break-all;
}
.edit-panel .editor-preview .preview-body img {
  max-width: 100%;
  max-height: 100%;
}
.edit-panel .editor-footer {
  margin-top: 20px;
}
