.single-post {
  width: 86%;
}
.single-post .title {
  height: 50px;
  margin-bottom: 18px;
  border-bottom: 1px dashed #e0e0e0;
}
.single-post .content {
  line-height: 1.7em;
  border-bottom: 1px solid #e0e0e0;
}
.single-post .content img {
  max-width: 100%;
  max-height: 100%;
}
.main-body .post-pager {
  width: 86%;
  margin-top: 50px;
}
