.single-post {
  padding: 0 15px;
  background-color: #ffffff;
}
.single-post .title {
  margin-bottom: 18px;
  border-bottom: 1px dashed #e0e0e0;
}
.single-post .title h3 {
  display: inline-block;
}
.single-post .title .focus-mode {
  display: inline-block;
  border: 1px solid #4594af;
  border-radius: 2px;
  padding: 1px 3px;
  font-size: 12px;
}
.single-post .title .focus-mode:hover {
  border-color: #1d7f9e;
  background-color: #4594af;
  color: #ffffff;
}
.single-post .content {
  padding: 10px 0;
  font-size: 1.16em;
  line-height: 1.9;
  word-break: break-all;
  font-family: "Helvetica Neue", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.single-post .content img {
  max-width: 100%;
  max-height: 100%;
}
.single-post .assign {
  padding: 10px 0;
  border-bottom: 1px dashed #e0e0e0;
  text-indent: 1.7em;
}
.single-post .fun {
  padding: 5px;
}
.main-body .post-pager {
  width: 86%;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .single-post {
    width: 100%;
    margin: 0;
  }
}
