.nick-setting,
.password-setting,
.cate-setting,
.trash-setting {
  max-width: 50%;
  margin: 5px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.setting-info {
  padding: 5px 5px 15px;
}
.cate-setting .btn {
  margin: 0 5px 10px 0;
}
@media screen and (max-width: 1200px) {
  .password-setting,
  .cate-setting {
    max-width: 100%;
  }
}
