.nick-setting,
.password-setting,
.cate-setting,
.trash-setting {
  width: 45%;
  margin: 0 auto;
}
.cate-setting {
  width: 96%;
}
.cate-setting .cate-btn {
  margin: 3px 0;
}
.base-panel .panel-main {
  height: 176px;
}
@media screen and (max-width: 1200px) {
  .password-setting,
  .cate-setting {
    max-width: 100%;
  }
}
