.signup-panel {
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
}
.signup-panel .input-group {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .signup-panel {
    width: 23%;
  }
}
@media screen and (max-width: 1200px) {
  .signup-panel {
    width: 96%;
  }
}
