<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <title>夜行船</title>
    <link rel="stylesheet" href={{ static_url("css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ static_url("css/fragmenthub.css") }}>
    <link rel="stylesheet" href={{ static_url("css/style.css") }}>
    {% block css-area %}{% end %}
</head>
<body>
    <div id="js-msg-area">
        <div class="msg-area error-msg">
            <strong></strong>
        </div>
        <div class="msg-area success-msg">
            <strong></strong>
        </div>
        <div class="msg-area warning-msg">
            <strong></strong>
        </div>
    </div>
    {% block main %} 夜行船 {% end %}
    <div class="footer container-fluid">
        <p class="copy">&copy; 2015 <a href="http://www.fragmenthub.com">FragmentHub</a> All rights resvered.</p>
        用户内容采用<a rel="license" href="http://creativecommons.org/licenses/by/3.0/cn/">知识共享署名 3.0 中国大陆许可协议</a>进行许可，附加条款亦可能应用
    </div>
</body>
<script type="text/javascript" src={{ static_url("dist/js/dep.js") }}></script>
<script type="text/javascript" src={{ static_url("dist/js/app.js") }}></script>
{% block js-area  %}{% end %}
</html>
