{% extends "layout.html" %}
{% block css-area %}
<link rel="stylesheet" href="/assets/css/pagedown.css">
<link rel="stylesheet" href="/assets/css/edit.css">
{% end %}
{% block main %}
<div class="main container-fluid clearfix edit-panel">
    <label><h3>编辑文章</h3></label>
    <div class="row">
        <div class="col-md-12">
            {% if post %}
            <input class="form-control" type="text" name="title" value={{ post.title }} placeholder="输入文章标题" autofocus>
            {% else %}
            <input class="form-control" type="text" name="title" placeholder="输入文章标题" autofocus>
            {% end %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select class="form-control" name="category">
                    <option value="">选择文章目录</option>
                {% for category in categories %}
                    {% if post and post.category_id == category.id %}
                    <option value={{ category.id }} selected="selected">{{ category.name }}</option>
                    {% else %}
                    <option value={{ category.id }}>{{ category.name }}</option>
                    {% end %}
                {% end %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>是否对外公开：</label>
            {% if post and ord(post.public) %}
            <label class="radio-inline">
                <input name="public" type="radio" value="1" checked>是
            </label>
            <label class="radio-inline">
                <input name="public" type="radio" value="0">否
            </label>
            {% elif post and not ord(post.public) %}
            <label class="radio-inline">
                <input name="public" type="radio" value="1">是
            </label>
            <label class="radio-inline">
                <input name="public" type="radio" value="0" checked>否
            </label>
            {% elif not post %}
            <label class="radio-inline">
                <input name="public" type="radio" value="1">是
            </label>
            <label class="radio-inline">
                <input name="public" type="radio" value="0" checked>否
            </label>
            {% end %}
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="switch-editor-mode active" data-mode="edit" role="presentation"><a href="javascript:;">编辑</a></li>
        <li class="switch-editor-mode" data-mode="preview" role="presentation"><a href="javascript:;">预览</a></li>
    </ul>
    <div class="row editor-area">
        <div class="col-md-12">
            <div class="editor-header" id="wmd-button-bar"></div>
            <div class="editor-body">
                <textarea id="wmd-input" name="content" class="form-control" rows="23">
                    {% if post %}{{ post.content }}{% end %}
                </textarea>
            </div>
        </div>
    </div>
    <div class="row editor-preview">
        <div class="col-md-12">
            <div id="wmd-preview" class="preview-body"></div>
        </div>
    </div>
    {% if post %}
    <input type="hidden" name="id" value={{ post.id }}>
    {% else %}
    <input type="hidden" name="id" value="-1">
    {% end %}
    <div class="row">
        <div class="col-md-1 col-md-offset-9">
            <button class="btn btn-default draft-btn">存为草稿</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-main submit-btn">立即发布</button>
        </div>
    </div>
</div>
{% end %}
{% block js-area %}
<script src="/assets/lib/pagedown/Markdown.Converter.js" type="text/javascript"></script>
<script src="/assets/lib/pagedown/Markdown.Editor.js" type="text/javascript"></script>
<script src="/assets/dist/js/edit.js" type="text/javascript"></script>
{% end %}
