{% extends "layout.html" %}
{% block css-area %}
<link rel="stylesheet" href="/assets/css/edit.css">
{% end %}
{% block main %}
<div class="main container-fluid clearfix edit-panel">
    <label><h3>编辑文章</h3></label>
    <div class="row">
        <div class="col-md-12 editor-area">
            <div class="editor-header">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">编辑</a></li>
                    <li role="presentation"><a href="#">预览</a></li>
                </ul>
            </div>
            <div class="editor-body">
                <textarea class="form-control" rows="23" autofocus></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-9">
            <button class="btn btn-primary btn-block">发布</button>
        </div>
    </div>
</div>
{% end %}
