<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <title>FragmentHub</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    {% block css-area %}{% end %}
</head>
<body>
    <div class="header">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <!--span class="glyphicon glyphicon-menu-hamburger"></span-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                    <a href="/posts" class="navbar-brand">FragmentHub<!--span class="label label-beta beta">Beta</span--></a>
                </div>
                <div class="collapse navbar-collapse">
                    <!--ul class="nav navbar-nav">
                        <li><a href="/posts">文章</a></li>
                    </ul-->
                    <ul class="nav navbar-nav hidden-md hidden-lg sm-menu-bar">
                        {% if not current_user %}
                            <li><a href="/users/login">登录</a></li>
                        {% else %}
                            <li><a href="/users/edit">撰写文章</a></li>
                            <li><a href={{ "/site/" + current_user.nick }}>我的主页</a></li>
                            <li><a href="/users/draft">我的草稿</a></li>
                            <!--li><a href="/users/profile">我的资料</a></li-->
                            <li><a href="/users/setting">设置</a></li>
                            <li><a href="/invite">邀请使用</a></li>
                            <li><a href="/users/exit">退出</a></li>
                        {% end %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right nav-user-panel">
                        <li>
                            {% if not current_user %}
                                <a href="/users/login">登录</a>
                            {% else %}
                                <a class="hidden-sm hidden-xs" href="/users/profile/{{ current_user.id }}">{{ current_user.nick }}</a>
                                <div class="user-panel">
                                    <div class="user-panel-header">
                                        <a href="javascript:;">{{ current_user.nick }}</a>
                                    </div>
                                    <div class="user-panel-body">
                                        <div class="user-link-item"><a href="/users/edit">撰写文章</a></div>
                                        <div class="user-link-item"><a href={{ "/site/" + current_user.nick }}>我的主页</a></div>
                                        <div class="user-link-item"><a href="/users/draft">我的草稿</a></div>
                                        <!--div class="user-link-item"><a href="/users/profile">我的资料</a></div-->
                                        <div class="user-link-item"><a href="/users/setting">设置</a></div>
                                        <div class="user-link-item"><a href="/users/exit">退出</a></div>
                                    </div>
                                </div>
                            {% end %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="js-msg-area">
        <div class="alert alert-danger msg-area error-msg" role="alert">
            <strong></strong>
        </div>
        <div class="alert alert-success msg-area success-msg" role="alert">
            <strong></strong>
        </div>
        <div class="alert alert-warning msg-area warning-msg" role="alert">
            <strong></strong>
        </div>
    </div>
    {% block main %} Ring  {% end %}
    <div class="footer container-fluid">
        <div class="info text-muted">每个平凡的人身上都蕴藏着神的智慧</div>
        <p class="copy text-muted">&copy; 2015 <a href="http://www.fragmenthub.com">FragmentHub</a> All rights resvered.</p>
    </div>
</body>
<script type="text/javascript" src="/assets/dist/js/dep.js"></script>
<script type="text/javascript" src="/assets/dist/js/app.js"></script>
{% block js-area  %}{% end %}
</html>
