{% extends "account_layout.html" %}
{% block css-area %}
    <link href={{ static_url("css/login.css") }} rel="stylesheet">
{% end %}
{% block main %}
<div class="main clearfix">
    <div class="login-body">
        <p class="login-welcome">夜行船</p>
        <p class="login-welcome-follow">我就停在这里，跋山涉水后等待</p>
        <div class="login-main">
            <form action="/users/login", method="POST">
                <div class="input-item">
                    <input type="text" class="base-input" name="nick" placeholder="用户名/注册邮箱">
                </div>
                <div class="input-item">
                    <input type="password" class="base-input" name="password" placeholder="密码, 6-18位">
                </div>
                <div class="button-item">
                    <button class="login-btn submit">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}
{% block js-area %}
    <script type="text/javascript" src={{ static_url("dist/js/login.js") }}></script>
{% end %}
