{% extends "layout.html" %}
{% block css-area %}
    <link href={{ static_url("css/login.css") }} rel="stylesheet">
{% end %}
{% block main %}
<div class="wrapper">
    <div class="main container-fluid clearfix">
        <div class="login-panel base-panel col-md-7">
            <div class="panel-nav">
                <span>用户登录</span>
            </div>
            <div class="panel-main">
                <form action="/users/login", method="POST">
                    <div class="form-group">
                        <input type="text" class="base-input" name="nick" placeholder="用户名/注册邮箱">
                    </div>
                    <div class="form-group">
                        <input type="password" class="base-input" name="password" placeholder="密码, 6-18位">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="login-btn submit">登录</button>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="col-md-12">
                            还没有账户？<a href="/users/signup">注册一个</a>
                        </div>
                    </div-->
                </form>
            </div>
        </div>
        <div class="main-side visible-lg-block visible-md-block">
            
        </div>
    </div>
</div>
{% end %}
{% block js-area %}
    <script type="text/javascript" src={{ static_url("dist/js/login.js") }}></script>
{% end %}
