{% extends "layout.html" %}
{% block css-area %}
<link rel="stylesheet" href="/assets/css/pagedown.css">
<link rel="stylesheet" href="/assets/css/post.css">
{% end %}
{% block main %}
{% import markdown %}
<div class="main container-fluid clearfix">
    <div class="main-body col-md-8">
        <div class="single-post">
            <div class="title">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="content">
                {% raw markdown.markdown(post.content) %}
            </div>
        </div>
        <div class="post-pager" role="navigation">
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一篇</a></li>
                <li class="next"><a href="#">下一篇 <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-side col-md-3 visible-lg-block visible-md-block pull-right"></div>
</div>
{% end %}
