{% extends "layout.html" %}
{% block main %}
<div class="main container-fluid clearfix">
    <div class="row">
        <div class="main-body col-md-6">
            <div class="post-type">
                <span class="glyphicon glyphicon-list-alt"></span>
                <span>最新文章</span>
            </div>
            {% for post in posts %}
            <div class="post container-fluid">
                <div class="post-header row">
                    <div class="col-md-12">
                        <a class="title-link" href={{ "/posts/" + str(post.id) }}>
                            <h3 class="title">{{ post.title }}</h3>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <div class="info">
                            <!--a class="author" href={{ "/users/" + str(post.author.id) }}>{{ post.author.nick }}</a-->
                            <span>本文最后发布于</span>
                            <span class="text-info" data-toggle="tooltip" data-placement="bottom" title={{ post.last_modified }}>{{ post.last_modified }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="post-body col-md-12">
                        {{ post.summary }}
                    </div>
                </div>
            </div>
            {% end %}
            {% if needPagination %}
            <div class="post-pagination">
                <button class="btn btn-page btn-block" id="js-load-more" data-page="1" data-size={{ pageSize }}>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 点击查看更多
                </button>
            </div>
            {% end %}
        </div>
        <div class="main-side col-md-3 visible-lg-block visible-md-block pull-right">
            {% include sidebar.html %}
        </div>
    </div>
</div>
<script type="text/template" id="js-post-template">
    <div class="post container-fluid">
        <div class="post-header row">
            <div class="col-md-12">
                <a class="title" href=""><h3></h3></a>
            </div>
            <div class="col-md-12">
                <div class="info">
                    <a class="author" href=""></a>
                    <span>最后发布于</span>
                    <span class="text-info"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="post-body col-md-12"></div>
        </div>
    </div>
</script>
{% end %}
