{% extends "layout.html" %}
{% block main %}
<div class="wrapper">
    <div class="main clearfix">
        <div class="main-body">
            <div class="content-area">
                <div class="cates-area">
                    {% if not cate_id %}
                        <a class="cate-item active" href="javascript:;">全部</a>
                        {% for cate in categories %}
                            <a class="cate-item" href={{ '/posts?cate=' + str(cate.id) }}>{{ cate.name }}</a>
                        {% end %}
                    {% else %}
                        <a class="cate-item" href="/posts">全部</a>
                        {% for cate in categories %}
                            {% if cate_id and int(cate_id) == int(cate.id) %}
                                <a class="cate-item active" href="javascript:;">{{ cate.name }}</a>
                            {% else %}
                                <a class="cate-item" href={{ '/posts?cate=' + str(cate.id) }}>{{ cate.name }}</a>
                            {% end %}
                        {% end %}
                    {% end %}
                </div>
                {% if len(posts) == 0 %}
                <div class="empty-post-notice">
                    <p>Oops, 没有找到文章</p>
                </div>
                {% else %}
                {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <a class="title-link" href={{ "/posts/" + str(post.id) }}>
                            <p class="title">{{ post.title }}</p>
                        </a>
                        <div class="info">
                            <span>最后发布于</span>
                            <span>{{ post.last_modified }}</span>
                        </div>
                    </div>
                    <div class="post-body">
                        {{ post.summary }}
                    </div>
                </div>
                {% end %}
                {% if need_pagination %}
                <div class="post-pagination">
                    <button class="btn btn-page btn-block" id="js-load-more" data-page="1" data-size={{ page_size }}>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 点击查看更多
                    </button>
                </div>
                {% end %}
                {% end %}
            </div>
        </div>
        <div class="main-side visible-lg-block visible-md-block">
            {% include sidebar.html %}
        </div>
    </div>
</div>
<script type="text/template" id="js-post-template">
    <div class="post container-fluid">
        <div class="post-header row">
            <div class="col-md-12">
                <a class="title-link" href=""><p class="title"></p></a>
            </div>
            <div class="col-md-12">
                <div class="info">
                    <a class="author" href=""></a>
                    <span>最后发布于</span>
                    <span class="text-info"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="post-body col-md-12"></div>
        </div>
    </div>
</script>
{% end %}
