{% extends "layout.html" %}
{% block css-area %}
<link rel="stylesheet" href={{ static_url("css/setting.css") }}>
{% end %}
{% block main %}
<div class="wrapper">
    <div class="main container-fluid clearfix">
        <div class="col-md-6">
            <div class="base-panel">
                <div class="panel-nav">
                    <span>更换昵称</span>
                </div>
                <div class="panel-main">
                    <div class="nick-setting" id="js-nick-setting">
                        <div class="form-group">
                            <input type="text" name="nick" class="base-input" placeholder="请输入旧密码" value={{ current_user.nick }}>
                        </div>
                        <div class="clearfix">
                            <a href="javascript:;" class="pull-right" id="js-submit-nick">确认修改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="base-panel">
                <div class="panel-nav">
                    <span>更换密码</span>
                </div>
                <div class="panel-main">
                    <div class="password-setting" id="js-password-setting">
                        <div class="form-group">
                            <input type="password" name="old_password" class="base-input" placeholder="请输入旧密码">
                        </div>
                        <div class="form-group">
                            <input type="password" name="new_password" class="base-input" placeholder="请输入新密码">
                        </div>
                        <div class="form-group">
                            <input type="password" name="new_password_confirm" class="base-input" placeholder="请再次输入密码">
                        </div>
                        <div class="clearfix">
                            <!--button class="btn btn-main btn-sm pull-right" id="js-submit-password">确认修改</button-->
                            <a href="javascript:;" class="pull-right" id="js-submit-password">确认修改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="base-panel">
                <div class="panel-nav">
                    <span>目录管理</span>
                </div>
                <div class="panel-main">
                    <div class="cate-setting">
                        {% if categories and len(categories) %}
                        {% for cate in categories %}
                        {% if cate.post_count > 0 %}
                        <button class="base-btn disabled" disabled="disabled">
                            <span>{{ cate.name }}</span>
                            <strong>[{{ cate.post_count }}]</strong>
                        </button>
                        {% else %}
                        <button class="base-btn cate-btn" data-id={{ cate.id }}>
                            <span>{{ cate.name }}</span>
                            <strong>[{{ cate.post_count }}]</strong>
                        </button>
                        {% end %}
                        {% end %}
                        {% end %}
                        <div class="clearfix">
                            <!--button class="btn btn-main btn-sm pull-right" id="js-delete-cate">批量删除</button-->
                            <a href="javascript:;" class="pull-right" id="js-delete-cate">批量删除</a>
                        </div>
                    </div>
                </div>
                <div class="panel-foot panel-notice">
                    <p>只能删除不包含文章的目录</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="base-panel">
                <div class="panel-nav">
                    <span>回收站</span>
                </div>
                <div class="panel-main">
                    <div class="trash-setting">
                    </div>
                </div>
                <div class="panel-foot panel-notice">
                    <p>从回收站删除的文章将无法找回，请谨慎操作</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block js-area %}
<script src={{ static_url("dist/js/setting.js") }} type="text/javascript"></script>
{% end %}
