<div class="side-links-panel">
    {% if current_user and current_user['nick'] %}
    <ul class="list-unstyled links-block">
        <li>
            <a href="/users/edit">
                <span class="glyphicon glyphicon-edit"></span>
                <span>写文章</span>
            </a>
        </li>
        <li>
            <a href="/users/draft">
                <span class="glyphicon glyphicon-file"></span>
                <span>我的草稿</span>
            </a>
        </li>
        <li>
            <a href={{ "/site/" + current_user['nick'] }}>
                <span class="glyphicon glyphicon-home"></span>
                <span>我的主页</span>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled links-block">
        <li>
            <a href="/users/setting">
                <span class="glyphicon glyphicon-cog"></span>
                <span>设置</span>
            </a>
        </li>
        <li>
            <a href="/users/trash">
                <span class="glyphicon glyphicon-trash"></span>
                <span>回收站</span>
            </a>
        </li>
        <li>
            <a href="/invite">
                <span class="glyphicon glyphicon-bullhorn"></span>
                <span>邀请朋友使用</span>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="list-unstyled links-block unlogin-links-block">
        <li>
            <a href="/users/login">
                <span class="glyphicon glyphicon-log-in"></span>
                <span>登录</span>
            </a>
        </li>
        <li>
            <a href="/users/signup">
                <span class="glyphicon glyphicon-user"></span>
                <span>立即注册</span>
            </a>
        </li>
    </ul>
    <ul class="list-unstyled links-block unlogin-links-block">
        <li>
            <p>FragmentHub是一个专注写作与阅读的个人博客平台，尝试把写作与阅读的体验回归到纯粹</p>
        </li>
    </ul>
    {% end %}
    <!--a class="edit-icon" href="/users/edit">
        <span class="glyphicon glyphicon-pencil"></span>
    </a-->
    <!--div class="panel-main">
        <div class="side-links">
            <div>
                <ul class="list-inline">
                    <li><a class="text-muted" href="/help">使用指南</a></li>
                    <li><a class="text-muted" href="/experience">用户体验</a></li>
                    <li><a class="text-muted" href="/knowledge-protect">知识保护</a></li>
                </ul>
            </div>
            <div>
                <ul class="list-inline">
                    <li><a class="text-muted" href="/envite">举报入口</a></li>
                    <li><a class="text-muted" href="/about-us">关于我们</a></li>
                    <li><a class="text-muted" href="/invite">邀请使用</a></li>
                </ul>
            </div>
        </div>
    </div-->
</div>

<!--div class="recommend-posts-panel base-panel">
    <div class="panel-nav">推荐阅读</div>
    <div class="panel-main">
        <div class="recommend-posts">
            <a class="block-item" href="#"></a>
        </div>
    </div>
</div-->