<div class="side-links-panel base-panel">
    <div class="panel-main">
        <div class="side-links">
            <div>
                <ul class="list-inline">
                    <li><a class="text-muted" href="/help">使用指南</a></li>
                    <li><a class="text-muted" href="/experience">用户体验</a></li>
                    <li><a class="text-muted" href="/knowledge-protect">知识保护</a></li>
                </ul>
            </div>
            <div>
                <ul class="list-inline">
                    <li><a class="text-muted" href="/envite">举报入口</a></li>
                    <li><a class="text-muted" href="/about-us">关于我们</a></li>
                    <li><a class="text-muted" href="/invite">邀请使用</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="recommend-posts-panel base-panel">
    <div class="panel-nav">推荐阅读</div>
    <div class="panel-main">
        <div class="recommend-posts">
            <!--a class="block-item" href="#"></a-->
        </div>
    </div>
</div>