{% extends "layout.html" %}
{% block css-area %}
    <link href="/assets/css/signup.css" rel="stylesheet">
{% end %}
{% block main %}
    <div class="signup-panel">
        <label>
            <h3>用户注册</h3>
        </label>
        <form action="/users/signup" method="post">
            <div class="input-group">
                <span class="input-group-addon">昵称</span>
                <input type="text" class="form-control" name="nick" placeholder="昵称">
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control" name="password" placeholder="密码, 6-18位">
            </div>
            <div class="input-group">
                <span class="input-group-addon">确认密码</span>
                <input type="password" class="form-control" name="password_confirm" placeholder="再次输入密码">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-block btn-main">注册</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    已经注册过了？<a href="/users/login">登录</a>
                </div>
            </div>
        </form>
    </div>
{% end %}
