{% extends "account_layout.html" %}
{% block css-area %}
    <link href={{ static_url("css/signup.css") }} rel="stylesheet">
{% end %}
{% block main %}
<div class="main clearfix">
    <div class="signup-body">
        <p class="signup-welcome">夜行船</p>
        <p class="signup-welcome-follow">我永远在这里，涌着爱面朝沧海</p>
        <div class="signup-main">
            <form action="/users/signup" method="post">
                <div class="input-item">
                    <input type="text" class="base-input" name="nick" placeholder="昵称，6个字符以内">
                </div>
                <div class="input-item">
                    <input type="password" class="base-input" name="password" placeholder="密码, 6~18位">
                </div>
                <div class="input-item">
                    <input type="password" class="base-input" name="password_confirm" placeholder="再次输入密码">
                </div>
                <div class="input-item">
                    <input type="text" class="base-input" name="invite_code" placeholder="输入邀请码">
                </div>
                <div class="button-item">
                    <button class="signup-btn submit">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}
{% block js-area %}
    <script type="text/javascript" src={{ static_url("dist/js/signup.js") }}></script>
{% end %}
